.Button{
    background: $bright-orange;
    border: 0;
    border-radius: 4px;
    color: $white;
    font-family: $inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    padding: 15px 166.5px;
    width: 100%;
}